parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    # PHPStan 2系では以下のパラメータはなくなったためコメント化
    # checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - config/bootstrap.php
    paths:
        - src/
