parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    # PHPStan 2系では以下のパラメータはなくなったためコメント化
    # checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - config/bootstrap.php
    paths:
        - src/
    ignoreErrors:
        # bin/cake bake model でコード生成するとエラーがでるので無視する
        -
            identifier: missingType.iterableValue
            path: src/Model/Table/
